.product-details-image {
    width: auto;
    height: 350px;
}

.icon-color-gold {
    color: gold;
}

.bottom-allign {
    position: absolute;
    bottom: 0;
    left: 0;
}

.relative-container {
    position: relative;
}